@model MrSimonAcademy2.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_login.cshtml";

}


    <section class="admin">
        <a href="~/Admin/Index" class="js-backToThemeList"> <img src="~/Content/img_back/icons/back-icon.svg" alt=""> Вернуться к списку</a>
        <h1 class="content-title">Восстановление пароля <span style="font-weight: bold"> @ViewBag.UserName</span></h1>

        <div class="admin-add admin-content__item opened">



            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "ResetPasswordForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-block ">
                    <span class="text">E-mail:</span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "input" })
                </div>

                <div class="input-block ">
                    <span class="text">Новый пароль:</span>
                    @Html.PasswordFor(m => m.Password, new { @class = "input" })
                </div>

                <div class="input-block ">
                    <span class="text">Повторите новый пароль</span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input" })
                </div>


                <input type="submit" class="submit" value="Сохранить изменения" style="margin-top: 20px">

            }


        </div>



    </section>
