@model IEnumerable<MrSimonAcademy2.Models.Group>
@using MrSimonAcademy2.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}


<div class="information-all admin-content__item opened">
    @using (Ajax.BeginForm("SearchTheme", "Student", new AjaxOptions { UpdateTargetId = "Theme-Results", LoadingElementId = "Theme-loading" }, new { @class = "search" }))
    {
        <span class="search-text">Поиск темы:</span>
        <input class="search-input" type="text" name="fragment" placeholder="Название темы или группы">
        <input type="submit" value="" class="search-submit">
    }


    @if (Model.Count() == 0)
    {
        <p>Список тем еще пуст. Ваш преподаватель скоро добавит Вам темы </p>

    }
    else
    {
        <div id="Theme-loading" style="display:none;">
            <p>Идет загрузка...</p>
        </div>
        <div class="theme-wrap" id="Theme-Results">

            @foreach (Group g in Model)
            {
                <h3 class="theme-group__name">
                    @g.GroupName, @g.GroupLevel
                </h3>

                foreach (Theme th in g.ThemeList)
                {
                    if (th.colorTheme == "Blue")
                    {
                        <a href="~/Student/GetTheme/@th.Id" class="theme-item blue">
                            <div class="theme-item__cover">
                                <span></span>
                            </div>
                            <span class="theme-item__name">
                                @th.themeName
                            </span>

                            <span class="theme-item__count">Файлов: @th.AssignmentList.Count()</span>
                        </a>
                    }
                    if (th.colorTheme == "Pink")
                    {
                        <a href="~/Student/GetTheme/@th.Id" class="theme-item pink">
                            <div class="theme-item__cover">
                                <span></span>
                            </div>
                            <span class="theme-item__name">
                                @th.themeName
                            </span>

                            <span class="theme-item__count">Файлов: @th.AssignmentList.Count()</span>
                        </a>
                    }
                    if (th.colorTheme == "Green")
                    {
                        <a href="~/Student/GetTheme/@th.Id" class="theme-item green">
                            <div class="theme-item__cover">
                                <span></span>
                            </div>
                            <span class="theme-item__name">
                                @th.themeName
                            </span>

                            <span class="theme-item__count">Файлов: @th.AssignmentList.Count()</span>
                        </a>
                    }
                    if (th.colorTheme == "Purpure")
                    {
                        <a href="~/Student/GetTheme/@th.Id" class="theme-item purpure">
                            <div class="theme-item__cover">
                                <span></span>
                            </div>
                            <span class="theme-item__name">
                                @th.themeName
                            </span>

                            <span class="theme-item__count">Файлов: @th.AssignmentList.Count()</span>
                        </a>
                    }
                }
            }

        </div>
    }
</div>